server:
  port: 8888

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations:
            - classpath:/config-repo  #Для работы из classpath.
            - file:./config-repo      #Для внешней папки.

#Регистрация в Eureka.
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, refresh
  endpoint:
    health:
      show-details: always